@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --BG-LT: rgb(209, 205, 183);
  --BG-LT-OP2: rgba(209, 205, 183, 0.2);
  --BG-DK: rgb(107, 102, 91);
  --BG-GRAD-LT: linear-gradient(to right, rgb(204, 200, 177) 1px, rgba(204, 200, 177, 0) 1px), linear-gradient(to bottom, rgb(205, 201, 178) 1px, rgba(204, 200, 177, 0) 1px);
  --BG-GRAD-DK: linear-gradient(to right, rgba(69, 65, 56, 0.1) 1px, rgba(204, 200, 177, 0) 1px), linear-gradient(to bottom, rgba(69, 65, 56, 0.1) 1px, rgba(204, 200, 177, 0) 1px);
  --SHADOW-DK-OP75: rgba(50, 50, 50, 0.75);
  --SHADOW-DK-OP25: rgba(50, 50, 50, 0.25);
  --SHADOW-LT-OP25: rgba(218, 218, 218, 0.25);
  --TEXT-OP: 0.8;
  --BORDER-COLOR: rgb(69, 65, 56);
  --BORDER-COLOR-OP: rgba(69, 65, 56, 0.65);
  --BORDER-DKR: rgb(33,33,33);
  --TEXT-DK: rgb(69, 65, 56);
  --TEXT-LT: rgb(236, 235, 227);
  --ICON-LT: rgb(236, 235, 227);
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --INPUT-BGCOLOR: rgb(220, 216, 192);
  --TABLE-COLOR: rgb(0, 0, 0);
  --INPUT-INVALID: rgb(255, 0, 0);
  --BLEACH: rgb(186, 181, 161);
  --ACC-COLOR: rgb(205, 102, 77);
  --ACC-COLOR-OP: rgba(205, 102, 77, 0.7);
  --ACC-COLOR-S: rgba(206, 143, 119, 1);
  --ACC-SHADOW-COLOR: rgba(205, 140, 116, 0.2);

}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--ACC-COLOR-OP);
  color: var(--TEXT-DK);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ACC-COLOR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

/* || GENERAL STYLES */
/* html {
  height: 100%
} */

body {
  min-height: 100vh;
  /* min-height: 100%; */
  font-family: "Source Code Pro", Arial, sans-serif;
  letter-spacing: 0.03rem;
  font-weight: lighter;
  /* color: var(--TEXT-DK);
  background-color: var(--BG-LT);
  background-size: 0.3rem 0.3rem;
  background-image: var(--BG-GRAD-LT); */
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  letter-spacing: 0.05rem;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.light-theme {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  color: var(--TEXT-DK);
  background-size: 0.25rem 0.25rem;
  background-color: var(--BG-LT);
  background-image: var(--BG-GRAD-LT);
}

.light-theme header {
  background-color: var(--BORDER-COLOR-OP);
}

.light-theme footer {
  font-size: 1rem;
  color: var(--TEXT-LT);
  text-shadow: #00000033 1px 1px 1px;
  background-color: var(--BORDER-COLOR-OP);
}

.dark-theme {
  color: var(--TEXT-LT);
  background-size: 0.25rem 0.25rem;
  background-color: var(--BG-DK);
  background-image: var(--BG-GRAD-DK);
}

a {
  text-decoration: none;
}

a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */
.public {
  padding: 1em;
  flex-grow: 1;
}

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public__main {
  flex-grow: 1;
  /* border-top: 2px solid var(--BORDER-COLOR); */
  /* border-bottom: 2px solid var(--BORDER-COLOR); */
  padding: 1em 0;
}

.login {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1rem;
}

.login form {
  padding: 5%;
  border: 2px solid var(--BORDER-DKR);
  background-color: var(--BG-LT-OP2);
  box-shadow: 0.2em 0.2em 0.2em 0 var(--SHADOW-DK-OP75);
}

.login button:not(:disabled),
.button {
  padding: 0.5rem;
  font-size: 1em;
  outline: none;
  appearance: none;
  border-radius: 0;
  background-color: var(--BLEACH);
  color: var(--TEXT-DK);
  /* font-family: inherit; */
  /* letter-spacing: inherit; */
  /* font-weight: inherit; */
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: color, background-color, box-shadow;
  position: relative;
  z-index: 1;
}

.login button:not(:disabled):hover,
.button:hover {
  box-shadow: 0.2em 0.2em 0.1em 0 var(--SHADOW-DK-OP25);
}

.login button:not(:disabled):before,
.button:before {
  content: '';
  transition: all 0.2s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.login button:not(:disabled):after,
.button:after {
  content: '';
  transition: all 0.2s;
  transition-timing-function: ease-out;
  background-color: var(--BORDER-COLOR);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  z-index: -1;
}

/* button text on hover*/
.login button:not(:disabled):hover,
.button:hover {
  background-color: transparent;
  color: var(--INPUT-BGCOLOR);
}

.login button:not(:disabled):hover:after,
.button:hover:after {
  width: 100%;
}

/* button text colour when depressed */
.login button:not(:disabled):active,
.button:active {
  color: var(--TEXT-LT);
}

/* button background when depressed */
.login button:not(:disabled):active:after,
.button:active:after {
  opacity: 0.5;
}

/* button box shadow when depressed */
.login button:not(:disabled):hover:active,
.button:hover:active {
  box-shadow: none;
}

.not-found__main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found__title {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 13px;
  z-index: 1;
  /* text-shadow: #00000033 2px 2px 1px; */
}

.welcome a::before {
  content: "➜ "
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  top: 0;
  position: sticky;
  z-index: 1;
  /* padding: 0 0.5em; */
}

.dash-header__container {
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* align-items: center; */
}

.dash-header__title {
  text-decoration: none;
  font-weight: bolder;
  /* font-size: 2em; */
}

.dash-header__nav-text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* gap: 1em; */
  /* margin-left: 10px */
}

.dash-header__nav-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  /* gap: 1em; */
}

.dash-container {
  /* padding: 0.75em 0.5em 0.5em; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

.public-footer {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-content: center;
  bottom: 0;
  padding: 3em;
  gap: 0.25em;
  z-index: 1;
}

.public-footer .socials {
  display: flex;
  font-size: 1.5em;
  gap: 0.5em;
}

.dash-footer {
  align-items: center;
  flex-flow: row nowrap;
  display: flex;
  position: sticky;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.5em;
  gap: 1em;
  z-index: 1;
}

/* .dash-footer p {
  color: var(--ICON-LT);
  overflow: hidden
} */

.text-button {
  border: none;
  color: var(--ICON-LT);
  display: inline;
  place-content: center;
  padding: 0.75rem 0.75rem;
  background-color: transparent;
  text-shadow: #00000033 2px 2px 1px;
}

.text-button .drop-down {
  display: none;
}

.icon-button {
  border: none;
  display: grid;
  place-content: center;
  color: var(--ICON-LT);
  background-color: transparent;
  padding: 1rem;
}

.icon-button:hover,
.text-button:hover,
.icon-button:focus-visible,
.text-button:focus-visible {
  transition-duration: 0.2s;
  background-color: var(--ACC-COLOR-S);
}

.icon-button[disabled] {
  visibility: hidden;
}

.socials a:hover,
.socials a:focus-visible {
  transform: scale(1.2);
  transition-duration: 0.2s;
}

.socials a[disabled] {
  visibility: hidden;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

table {
  border-collapse: collapse;
  font-weight: inherit;
}

td,
th {
  padding: 0.5rem;
}

.table {
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  border: 1px solid var(--TABLE-COLOR);
  border-bottom: 0.1rem solid rgb(69, 65, 56);

  /* font-weight: lighter; */
  /* padding: 0.5em; */
  padding: 1rem;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

/* ||  NOTE */

.note__created,
.note__updated,
.note__username {
  display: none;
}

.note__status {
  font-weight: bold;
}

.note__status--open {
  color: var(--STATUS-OPEN);
}

.note__status--completed {
  color: var(--STATUS-COMPLETE);
}


/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 800px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login .form__input{
  cursor: pointer;
  color: var(--BORDER-COLOR-OP);
  background-color: var(--INPUT-BGCOLOR);
  box-shadow: inset 0em 0em 0.4em 0.1em var(--SHADOW-DK-OP25);
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  /* border-radius: 15px; */
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 24px;
  height: 24px;
  accent-color: var(--ACC-COLOR);
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  .dash-header__nav-icons {
    gap: 0;
  }

  .icon-button {
    font-size: 1.5rem;
  }
}


@media screen and (min-width: 768px) {

  body {
    font-size: 2rem;
  }

  /* .dash-header {
    padding: 0 1rem;
  } */

  .dash-container {
    padding: 1rem;
  }

  .table {
    font-size: 1.5rem;
  }

  .table--notes {
    grid-template-columns: repeat(3, 1fr) 2fr repeat(2, 1fr);
  }

  .note__created,
  .note__updated,
  .note__username {
    display: block
  }

  .form__action-buttons {
    position: static;
  }
}

/* || ANIMATIONS */
.line-up {
  animation-name: animate-line-up;
  animation-duration: 3s;
  animation-fill-mode: forward;
}

@keyframes animate-line-up {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.snowflake {
  color: rgba(38, 36, 31, 0.5);
  font-size: 2em;
  position: fixed;
  top: -20%;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
  z-index: 0;
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px)
  }

  50% {
    transform: translateX(80px)
  }

  100% {
    transform: translateX(0px)
  }
}

.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 3s, 1.5s
}