@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  /* COLORS */
  --BG-LT: rgb(209, 205, 183);
  --BG-LT-OP25: rgba(209, 205, 183, 0.25);
  --BG-DK: rgb(107, 102, 91);
  --BG-GRAD-LT: linear-gradient(to right, rgb(204, 200, 177) 1px, rgba(204, 200, 177, 0) 1px), linear-gradient(to bottom, rgb(205, 201, 178) 1px, rgba(204, 200, 177, 0) 1px);
  --BG-GRAD-DK: linear-gradient(to right, rgba(69, 65, 56, 0.1) 1px, rgba(204, 200, 177, 0) 1px), linear-gradient(to bottom, rgba(69, 65, 56, 0.1) 1px, rgba(204, 200, 177, 0) 1px);
  --SHADOW-DK-OP75: rgba(50, 50, 50, 0.75);
  --SHADOW-DK-OP25: rgba(50, 50, 50, 0.25);
  --BORDER-COLOR: rgb(69, 65, 56);
  --BORDER-COLOR-OP7: rgba(69, 65, 56, 0.7);
  --BORDER-DKR: rgb(33, 33, 33);
  --TEXT-DK: rgb(69, 65, 56);
  --TEXT-LT: rgb(236, 235, 227);
  --TEXT-LT-SHADOW-OP5: rgba(186, 181, 161, 0.5);
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-PUBLISHED: limegreen;
  --STATUS-DRAFT: firebrick;
  --INPUT-BGCOLOR: rgb(220, 216, 192);
  --INPUT-BORDER: rgb(204, 204, 204, 0.7);
  --TABLE-COLOR: rgb(0, 0, 0);
  --INPUT-INVALID: rgb(255, 0, 0);
  --BLEACH: rgb(186, 181, 161);
  --BLEACH-SHADOW-OP7: rgb(186, 181, 161, 0.7);
  --ACC-COLOR: rgb(205, 102, 77);
  --ACC-COLOR-MUTE: rgba(206, 143, 119, 1);
}

/* UTILITY CLASSES */
.errmsg {
  z-index: 999;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 0.95em;
  color: var(--TEXT-DK);
  box-shadow: 0.2em 0.2em 0.1em 0 var(--SHADOW-DK-OP25);
  background-color: var(--BLEACH);
  padding: 0.3em;
  position: absolute;
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.errmsg a:any-link {
  color: var(--ACC-COLOR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

/* GENERAL STYLES */
/* html {
  height: 100%
} */

body {
  min-height: 100vh;
  font-family: "Source Code Pro", Arial, sans-serif;
  letter-spacing: 0.03rem;
  font-weight: lighter;
  line-height: 1.5;
  /* color: var(--TEXT-DK);
  background-color: var(--BG-LT);
  background-size: 0.3rem 0.3rem;
  background-image: var(--BG-GRAD-LT); */
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  letter-spacing: 0.05rem;
  color: var(--TEXT-LT);
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.light-theme {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  color: var(--TEXT-DK);
  background-size: 0.25rem 0.25rem;
  background-color: var(--BG-LT);
  background-image: var(--BG-GRAD-LT);
}

.light-theme header {
  background-color: var(--BORDER-COLOR-OP7);
}

.light-theme footer {
  font-size: 1rem;
  color: var(--TEXT-LT);
  text-shadow: #00000033 1px 1px 1px;
  background-color: var(--BORDER-COLOR-OP7);
}

.dark-theme {
  color: var(--TEXT-LT);
  background-size: 0.25rem 0.25rem;
  background-color: var(--BG-DK);
  background-image: var(--BG-GRAD-DK);
}

a {
  text-decoration: none;
}

a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* PAGES */
.public {
  padding: 1em;
  flex-grow: 1;
}

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public__main {
  flex-grow: 1;
  /* border-top: 2px solid var(--BORDER-COLOR); */
  /* border-bottom: 2px solid var(--BORDER-COLOR); */
  padding: 1em 0;
}

.login {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1rem;
}

.login__title {
  font-weight: normal;
  text-shadow: 0.1rem 0.1rem 0 var(--SHADOW-DK-OP25);
}

.login .form__input {
  cursor: pointer;
  outline: none;
  padding: 0.5rem;
  color: var(--BORDER-COLOR-OP7);
  background-color: var(--INPUT-BGCOLOR);
  border: 1px solid var(--INPUT-BORDER);
  box-shadow: 0.05em 0.05em 0.05em 0 var(--BLEACH-SHADOW-OP7);
}

/* .login input:focus {
  outline: none !important;
  box-shadow: 0 0 2px var(--BLEACH);
} */

.login form {
  width: 600px;
  padding: 2rem;
  font-size: 0.75em;
  background-color: var(--BG-LT-OP25);
  box-shadow: 0.2em 0.2em 0.2em 0 var(--SHADOW-DK-OP75);
  /* border-radius: 5px; */
}

.login__fieldset {
  display: flex;
  font-size: 1em;
  padding: 2rem;
  padding-top: 0.5rem;
  border: 0.1rem solid var(--BORDER-COLOR-OP7);
}

.not-found__main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found__title {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 13px;
  z-index: 1;
  /* text-shadow: #00000033 2px 2px 1px; */
}

.welcome a::before {
  content: "➜ "
}

/* DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  top: 0;
  position: sticky;
  z-index: 999;
  /* padding: 0 0.5em; */
}

.dash-header__container {
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* align-items: center; */
}

.dash-header__title {
  text-decoration: none;
  font-weight: bolder;
  /* font-size: 2em; */
}

.dash-header__nav-text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  /* gap: 1em; */
  /* margin-left: 10px; */
}

.dash-header__nav-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  /* gap: 1em; */
}

.dash-container {
  /* padding: 0.75em 0.5em 0.5em; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

.public-footer {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-content: center;
  bottom: 0;
  padding: 3em;
  gap: 0.25em;
  z-index: 1;
}

.public-footer .socials {
  display: flex;
  font-size: 1.5em;
  gap: 0.5em;
}

.dash-footer {
  align-items: center;
  flex-flow: row nowrap;
  display: flex;
  position: sticky;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.5em;
  gap: 1em;
  z-index: 1;
}

/* .dash-footer p {
  color: var(--TEXT-LT);
  overflow: hidden
} */

.text-button {
  border: none;
  color: var(--TEXT-LT);
  display: inline;
  place-content: center;
  font-size: 1.75rem;
  /* letter-spacing: .1em; */
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  text-shadow: 0.05rem 0.05rem 0 var(--TEXT-LT-SHADOW-OP5);
}

.text-button:active {
  opacity: 0.6;
}

.drop-down-button {
  background-color: rgba(150, 146, 128, 0.3);
}

.icon-button {
  border: none;
  display: grid;
  place-content: center;
  color: var(--TEXT-LT);
  background-color: transparent;
  padding: 1rem;
}

.icon-button:hover,
.text-button:hover,
.icon-button:focus-visible,
.text-button:focus-visible {
  transition-duration: 0.2s;
  background-color: var(--ACC-COLOR-MUTE);
}

.text-button:active {
  opacity: 0.6;
}

.icon-button[disabled] {
  visibility: hidden;
}

.socials a:hover,
.socials a:focus-visible {
  transform: scale(1.2);
  transition-duration: 0.2s;
}

.socials a[disabled] {
  visibility: hidden;
}

/* TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

table {
  border-collapse: collapse;
  font-weight: inherit;
}

td,
th {
  padding: 0.5rem;
}

.table {
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  border: 1px solid var(--TABLE-COLOR);
  border-bottom: 0.1rem solid rgb(69, 65, 56);

  /* font-weight: lighter; */
  /* padding: 0.5em; */
  padding: 1rem;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

/*  NOTE */

.note__created,
.note__updated,
.note__username {
  display: none;
}

.note__status {
  font-weight: bold;
}

.note__status--draft {
  color: var(--STATUS-DRAFT);
}

.note__status--published {
  color: var(--STATUS-PUBLISHED);
}


/* FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  /* max-width: 800px; */
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.75em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.login__button {
  border: none;
  margin-top: 1em;
  width: 100%;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  outline: none;
  border: none;
  width: 24px;
  height: 24px;
  color: var(--INPUT-BGCOLOR);
  background-color: var(--INPUT-BGCOLOR);
  accent-color: var(--ACC-COLOR);
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  /* gap: 2em; */
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}


/* CONTACT FORM */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
  padding: 0.5rem;
}

.contact__header {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: lighter;
  letter-spacing: 4px;
  border: solid var(--BORDER-COLOR);
  border-width: 0.1rem 0;
  padding: 0.1rem 1rem;
  text-shadow: 0.1rem 0.1rem 0 var(--TEXT-LT-SHADOW-OP5);
  opacity: 0.9;
  box-sizing: border-box;
  /* margin: 10px 0; */
}

.contact__subheader {
  font-size: 1rem;
  font-family: "Source Code Pro", Arial, sans-serif !important;
  letter-spacing: 0.03rem;
  font-weight: lighter;
  opacity: 0.7;
}

.contact__form {
  font-size: 1rem;
  width: 100%;
}

.contact__fieldset {
  /* font-size: 0.9em; */
  padding: 1rem;
  padding-top: 0.5rem;
  border: 0.1rem solid var(--BLEACH);
}

.contact__legend {
  /* font-size: rem; */
  padding: 0 0.5rem;
}

.contact__label {
  display: inline-block;
  margin: 0.5rem 0;
}

.contact div {
  display: flex;
}

.form__row {
  gap: 1em;
  flex-direction: row;
  flex-flow: row nowrap;
}

.form__col {
  /* gap: 1em; */
  flex-direction: column;
  flex-flow: column nowrap;
}

.contact__input {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--INPUT-BGCOLOR);
  border: 1px solid var(--INPUT-BORDER);
  box-shadow: 0.05em 0.05em 0.05em 0 var(--BLEACH-SHADOW-OP7);
  outline: none;
}

.contact__textarea {
  resize: none;
  padding: 0.5rem;
  font-size: 1em;
  overflow: auto;
  color: inherit;
  background-color: var(--INPUT-BGCOLOR);
  border: 1px solid var(--INPUT-BORDER);
  box-shadow: 0.05em 0.05em 0.05em 0 var(--BLEACH-SHADOW-OP7);
  outline: none;
}

.contact__button {
  margin-top: 1em;
  border: none;
}

.contact .animated-button:not(:disabled):after,
.button:after {
  background-color: var(--ACC-COLOR-MUTE);
}

input::placeholder,
textarea::placeholder {
  opacity: 0.8;
}

/* CANVAS */

.canvas__container {
  position: sticky;
}

.canvas {
  position: inline-block;
  /* width: 100vw; */
  /* height: 100vh; */
  display: block;
}

/* SCREEN SIZES */

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  .dash-header__nav-icons {
    gap: 0.2;
  }

  .icon-button {
    font-size: 1.5rem;
  }
}


@media screen and (min-width: 768px) {

  body {
    font-size: 2rem;
  }

  /* .dash-header {
    padding: 0 1rem;
  } */

  .dash-container {
    padding: 1rem;
  }

  .table {
    font-size: 1.5rem;
  }

  .table--notes {
    grid-template-columns: repeat(3, 1fr) 2fr repeat(2, 1fr);
  }

  .note__created,
  .note__updated,
  .note__username {
    display: block
  }

  .form__action-buttons {
    position: static;
  }
}

/* ANIMATIONS */
.animated-button:not(:disabled),
.button {
  z-index: 1;
  position: relative;
  padding: 0.5rem;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  appearance: none;
  color: var(--TEXT-DK);
  background-color: var(--BLEACH);
  transition-duration: 0.2s;
  transition-property: color, background-color, box-shadow;
}

.animated-button:not(:disabled):hover,
.button:hover {
  box-shadow: 0.2em 0.2em 0.1em 0 var(--SHADOW-DK-OP25);
}

.animated-button:not(:disabled):before,
.button:before {
  content: '';
  transition: all 0.2s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.animated-button:not(:disabled):after,
.button:after {
  content: '';
  transition: all 0.2s;
  transition-timing-function: ease-out;
  /* background-color: var(--BORDER-COLOR); */
  background-color: var(--BORDER-COLOR);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  z-index: -1;
}

/* button text on hover*/
.animated-button:not(:disabled):hover,
.button:hover {
  background-color: transparent;
  color: var(--TEXT-LT);
}

.animated-button:not(:disabled):hover:after,
.button:hover:after {
  width: 100%;
}

/* button text colour when depressed */
.animated-button:not(:disabled):active,
.button:active {
  color: var(--TEXT-LT);
}

/* button background when depressed */
.animated-button:not(:disabled):active:after,
.button:active:after {
  opacity: 0.5;
}

/* button box shadow when depressed */
.animated-button:not(:disabled):hover:active,
.button:hover:active {
  box-shadow: none;
}

.line-up {
  animation-name: animate-line-up;
  animation-duration: 3s;
  animation-fill-mode: forward;
}

@keyframes animate-line-up {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.snowflake {
  color: rgba(38, 36, 31, 0.5);
  font-size: 2em;
  position: fixed;
  top: -20%;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
  z-index: 0;
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px)
  }

  50% {
    transform: translateX(80px)
  }

  100% {
    transform: translateX(0px)
  }
}

.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 3s, 1.5s
}