body {
    background-color: #d1cdb7;
    -webkit-background-size: 0.3rem 0.3rem;
    -moz-background-size: 0.3rem 0.3rem;
    background-size: 0.3rem 0.3rem;
    background-image: -webkit-linear-gradient(left, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), -webkit-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
    background-image: -moz-linear-gradient(left, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), -moz-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
    background-image: -o-linear-gradient(left, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), -o-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
    background-image: -ms-linear-gradient(left, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), -ms-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
    background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), linear-gradient(to bottom, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
    font-family: "Source Code Pro", Arial, sans-serif !important;
    letter-spacing: 0.03rem;
    font-weight: lighter;
    color: #454138;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

::selection {
    background-color: #bab5a1;
}

a {
    font-family: inherit;
    font-size: x-large;
    letter-spacing: 0.1rem;
    text-shadow: 0.05rem 0.05rem 0 #bab5a170;
    color: inherit;
}

p {
    margin: 0 0 1rem 0;
}

h1 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0 #bab5a1;
}

h2 {
    font-weight: lighter;
    border: solid #454138;
    border-width: 0.1rem 0;
    padding: 0.1rem 1rem;
    text-shadow: 0.1rem 0.1rem 0 #bab5a1;

}

h3,
h4,
h5,
h6 {
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

fieldset {
    padding: 1rem;
    padding-top: 0.5rem;
    border: 0.1rem solid #bab5a1;
}

legend {
    padding: 0 0.5rem;
}

label {
    display: inline-block;
    margin: 0.5rem 0;
}

textarea,
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=search],
input[type=number],
input[type=color],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local] {
    resize: none;
    padding: 0.5rem;
    font-size: 1em;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: #dcd8c0;
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    overflow: auto;
    -webkit-box-shadow: 0.05em 0.05em 0.05em 0 #bab5a1c5;
    box-shadow: 0.05em 0.05em 0.05em 0 #bab5a1c5;
}

input[type=submit]:not(:disabled),
input[type=button]:not(:disabled),
input[type=reset]:not(:disabled) {
    padding: 0.5rem;
    font-size: 1em;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: #bab5a1;
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color, box-shadow;
    -moz-transition-property: color, background-color, box-shadow;
    -o-transition-property: color, background-color, box-shadow;
    -ms-transition-property: color, background-color, box-shadow;
    transition-property: color, background-color, box-shadow;
}

input[type=submit]:not(:disabled):hover,
input[type=button]:not(:disabled):hover,
input[type=reset]:not(:disabled):hover {
    -webkit-box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
    box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
}

input[type=submit]:not(:disabled):hover,
input[type=button]:not(:disabled):hover,
input[type=reset]:not(:disabled):hover {
    background-color: #454138;
    color: #dcd8c0;
}

input[type=submit]:not(:disabled):active,
input[type=button]:not(:disabled):active,
input[type=reset]:not(:disabled):active {
    background-color: #dcd8c0;
    color: #454138;
}

input::placeholder,
textarea::placeholder {
    opacity: 0.8;
}

input:disabled,
button:disabled,
.button-disabled {
    padding: 0.5rem;
    font-size: 1em;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: #dcd8c0;
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    color: #bab5a1;
    cursor: not-allowed;
}

button[type=dropbtn] {
    padding: 0.5rem;
    font-size: 2em;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    font-weight: bolder;
    background-color: #454138;
    text-shadow: 0.05rem 0.05rem 0 #bab5a170;
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color, box-shadow;
    -moz-transition-property: color, background-color, box-shadow;
    -o-transition-property: color, background-color, box-shadow;
    -ms-transition-property: color, background-color, box-shadow;
    transition-property: color, background-color, box-shadow;
    position: relative;
}

/* button main */
button:not(:disabled, button[type=dropbtn]),
.button {
    padding: 0.5rem;
    font-size: 1em;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: #bab5a1;
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color, box-shadow;
    -moz-transition-property: color, background-color, box-shadow;
    -o-transition-property: color, background-color, box-shadow;
    -ms-transition-property: color, background-color, box-shadow;
    transition-property: color, background-color, box-shadow;
    position: relative;
}

/* button shadow on hover */
button:not(:disabled, button[type=dropbtn]):hover,
.button:hover {
    -webkit-box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
    box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
}

button:not(:disabled, button[type=dropbtn]):before,
.button:before {
    content: "";
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* button fill animation on hover */
button:not(:disabled, button[type=dropbtn]):after,
.button:after {
    content: "";
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #454138;
    /* background-color: #cd664d; */
    z-index: -1;
}

/* button text on hover*/
button:not(:disabled, button[type=dropbtn]):hover,
.button:hover {
    background-color: transparent;
    color: #dcd8c0;
}

/* button side rails on hover */
button:not(:disabled, button[type=dropbtn]):hover:before,
.button:hover:before {
    top: -0.2rem;
    bottom: -0.2rem;
    border: solid #454138;
    border-width: 0.1rem 0;
}

button:not(:disabled, button[type=dropbtn]):hover:after,
.button:hover:after {
    width: 100%;
}

/* button text on click */
button:not(:disabled, button[type=dropbtn]):active,
.button:active {
    color: #454138;
}

/* button background on click */
button:not(:disabled, button[type=dropbtn]):active:after,
.button:active:after {
    background-color: #dcd8c0;
}

::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    color: #bab5a1;
    font-weight: lighter;
}

.full {
    letter-spacing: 0.1rem !important;
    width: 100%
}

/* dropdown */
.w3-dropdown-content {
    background-color: #bab5a1bd !important;
}

/* navbar and menu */
a[type=navbar],
a[type=submenu],
a[type=stack] {
    font-size: 2em;
    text-decoration: none;
    font-weight: bolder;
}

a[type=submenu] {
    text-shadow: 0.05rem 0.05rem 0 #45413881;
}

a[type=submenu]:hover,
/* a[type=navbar]:not(#bar-title):hover { */
a[type=navbar]:hover {
    background-color: #cd664d;
}

a[type=navbar]:active,
.a:active {
    opacity: 0.6;
}

a[type=submenu]:active,
.a:active {
    opacity: 0.6;
}

a[type=stack]:hover {
    background-color: #bab5a179;
}

button[type=dropbtn]:hover {
    background-color: #cd664d;
}

.parallax {
    /* The image used */
    /* background-image: linear-gradient( #b1b3cc00, #cd674d33); */
    /* background-image: none; */
    /* background-color: transparent; */
    /* scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* canvases */
.canvas-container {
    position: relative;
}

#webgl-canvas {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
}

/* colours */
.np-darkest,
.np-hover-darkest:hover {
    color: #fff !important;
    background-color: #26241f !important
}

.np-accent,
.np-hover-accent:hover {
    color: #fff !important;
    background-color: #cd664d !important;
}

#notfound {
    position: relative;
    height: 100vh;
    /* background: #030005 */
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center
}

.notfound .notfound-404 {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1
}

.notfound .notfound-404 h1 {
    position: absolute;
    left: 50%;
    top: 10%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 224px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -12px;
    opacity: 0.1;
    /* color: #030005; */
    /* text-transform: uppercase; */
    /* text-shadow: -1px -1px 0 #8400ff,1px 1px 0 #ff005a; */
    /* letter-spacing: -20px */
}

.notfound .notfound-404 h3 {
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    top: 120px;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 13px;
    margin: 0
}

.notfound a {
    position: relative;
    top: 100px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    text-shadow: none;
    border: 1px solid;
    color: #454138;
    padding: 10px 40px;
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: .2s all;
    transition: .2s all
}

.notfound a:hover {
    background-color: #cd674db2;
    opacity: 0.9;
}

.notfound a:active {
    opacity: 0.6;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h2 {
        font-size: 24px
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 h1 {
        font-size: 182px
    }
}

/* snowflake styling */
.snowflake {
    color: #26241f41;
    font-size: 2em;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -20%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}